---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import fotoPerfil from "../assets/Foto_perfil.jpg";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/mail.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BriefcaseIcon from "../components/icons/Briefcase.astro";
---

<Layout 
  title="Portafolio de Misael - Desarrollador y Programador Oracle Forms, Oracle Reports y Web"
  description="Contrata a Misael para crear tu aplicación web. Desarrollador Web. Especializado en crear aplicaciones únicas."
>
  <main>
    <SectionContainer class="py-44 pb-22">
      <img
        class="rounded-full w-12 h-12"
        src={fotoPerfil.src}
        alt="misael photo"
      />
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        Hey, soy Misael Moncion Marcano <a
          href="https://www.linkedin.com/in/misael-marcano/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl opacity-80 text-wrap">
        <span
          >Desarrollador de software con 3 años de experiencia en Oracle Forms y
          Oracle Reports</span
        >,
        <span class="text-yellow-200/90"
          >y experiencia junior en desarrollo web.</span
        >
        <span class="text-red-100/90"> De Santiago, República Dominicana.</span>
        <span class="opacity-75"
          >Especializado en la creación de aplicaciones funcionales.</span
        >
      </h2>

      <nav class="flex gap-4 mt-8">
        <SocialPill href="https://www.linkedin.com/in/misael-marcano/">
          <LinkedInIcon class="w-6 h-6" />
          LinkedIn
        </SocialPill>

        <SocialPill href="https://github.com/Misael-Marcano">
          <GitHubIcon class="w-6 h-6" />
          GitHub
        </SocialPill>

        <SocialPill href="https://github.com/Misael-Marcano">
          <MailIcon class="w-6 h-6" />
          misaelmarcano0530@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <BriefcaseIcon class="size-7" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>
  </main>
</Layout>
