---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import fotoPerfil from "../assets/Foto_perfil.jpg";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
// import MailIcon from "../components/icons/mail.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BriefcaseIcon from "../components/icons/Briefcase.astro";
import ProjectsIcon from "../components/icons/Projects.astro";
import Projects from "../components/Projects.astro";
import UserIcon from "../components/icons/User.astro";
import CurriculumIcon from "../components/icons/Curriculum.astro";
import ContactIcon from "../components/icons/Contact.astro";
import Aboutme from "../components/Aboutme.astro";
---

<Layout
  title="Portafolio de Misael - Desarrollador y Programador Oracle Forms, Oracle Reports y Web"
  description="Contrata a Misael para crear tu aplicación web. Desarrollador Web. Especializado en crear aplicaciones únicas."
>
  <main class="px-4 w-full overflow-x-hidden">
    <SectionContainer class="py-40 sm:py-40 md:py-40 pb-40 sm:pb-25 md:pb-30">
      <div
        class="flex flex-col sm:flex-row items-start sm:items-center gap-3 sm:gap-4 mb-6 sm:mb-8"
      >
        <img
          class="rounded-full w-20 h-20 sm:w-20 sm:h-22 md:w-20 md:h-20"
          src={fotoPerfil.src}
          alt="misael photo"
        />
        <Badge
          data-i18n="status_available"
          href="https://www.linkedin.com/in/misael-marcano/"
          >Disponible para trabajar</Badge
        >
      </div>
      <div
        class="flex flex-col lg:flex-row gap-x-4 items-start lg:items-center pb-6 lg:pb-2"
      >
        <h1
          class="text-3xl sm:text-5xl md:text-5xl font-bold tracking-tight text-gray-800 dark:text-white"
          data-i18n="welcome_title"
        >
          Hey, soy Misael
        </h1>
      </div>
      <p class="mt-6 text-xl text-gray-800 dark:text-gray-300">
        <span data-i18n="desc_part_1">
          Desarrollador de software con 3 años de experiencia en Oracle Forms y
          Oracle Reports
        </span>,
        <span class="text-yellow-400 dark:text-yellow-200">
          <strong data-i18n="desc_part_2" class="font-semibold">
            y experiencia junior en desarrollo web.
          </strong>
        </span>
        <span class="text-yellow-400 dark:text-yellow-200">
          <strong data-i18n="desc_part_3" class="font-semibold">
            De Santiago, República Dominicana.
          </strong>
        </span>
        <span data-i18n="desc_part_4">
          Especializado en la creación de aplicaciones funcionales.
        </span>
      </p>

      <nav class="flex flex-wrap gap-4 mt-8">
        <SocialPill href="mailto:misaelmarcano0530@gmail.com">
          <ContactIcon class="size-4" />
          <span data-i18n="contact_title">Contáctame</span>
        </SocialPill>

        <SocialPill href="https://www.linkedin.com/in/misael-marcano/">
          <LinkedInIcon class="size-4" />
          LinkedIn
        </SocialPill>

        <SocialPill href="https://github.com/Misael-Marcano">
          <GitHubIcon class="size-4" />
          GitHub
        </SocialPill>

        <SocialPill
          href={`${import.meta.env.BASE_URL}cv/Misael-Marcano-CV.pdf`}
          download
        >
          <CurriculumIcon class="size-4" da/>
          <span data-i18n="download_cv">Descargar CV</span>
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2
        class="text-2xl sm:text-3xl font-semibold mb-2 flex gap-x-3 items-center flex-wrap"
      >
        <BriefcaseIcon
          class="size-6 sm:size-7 text-gray-800 dark:text-gray-200"
        />
        <span
          data-i18n="section_experience_title"
          class="text-gray-800 dark:text-gray-200">Experiencia laboral</span
        >
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos" class="py-20">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white undefined"
      >
        <ProjectsIcon class="size-8 sm:size-10" />
        <span data-i18n="projects">Proyectos</span>
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobremi" class="py-20">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white undefined"
      >
        <UserIcon class="size-8 sm:size-10" />
        <span data-i18n="section_about_title">Sobre mí</span>
      </h2>
      <Aboutme />
    </SectionContainer>
  </main>
</Layout>
