---
import ExperienceItem from "./experienceItem.astro";

const EXPERIENCE = [
  {
    dateKey: "exp_1_date",
    titleKey: "exp_1_title",
    title2Key: "exp_1_company",
    descriptionKey: "exp_1_desc",
    link: "#",
  },
  {
    dateKey: "exp_2_date",
    titleKey: "exp_2_title",
    title2Key: "exp_2_company",
    descriptionKey: "exp_2_desc",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
  {EXPERIENCE.map((exp) => (
    <li class="mb-10 ms-6">
      <ExperienceItem {...exp} />
    </li>
  ))}
</ol>
