---
import ExperienceItem from "./experienceItem.astro";

const EXPERIENCE = [
  {
    dateKey: "exp_1_date",
    titleKey: "exp_1_title",
    title2Key: "exp_1_company",
    descriptionKey: "exp_1_desc",
    link: "#",
  },
  {
    dateKey: "exp_2_date",
    titleKey: "exp_2_title",
    title2Key: "exp_2_company",
    descriptionKey: "exp_2_desc",
  },
];
---

<ol class="relative mt-16">
  {EXPERIENCE.map((exp) => (
    <li class="">
      <ExperienceItem {...exp} />
    </li>
  ))}
</ol>

<style>
  ol {
    --line-width: 2px;
    --line-color: rgba(0, 0, 0, 0.2);
  }

  :global(.dark) ol {
    --line-color: rgba(255, 255, 255, 0.15);
  }
</style>