<header class="flex justify-center items-center py-5 w-280 mx-auto">
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#top">Inicio</a>
        <a href="#experiencia">Expericia</a>
        <a href="#Proyectos">Proyectos</a>
        <a href="#sobremi">Sobre mi</a>
        <a href="#Contacto">Contact</a>
    </nav>
</header>