---
interface Props {
  href: string;
  class?: string;
  download?: boolean;
}

const { href, class: className, download } = Astro.props;
---

<a
  href={href}
  download={download}
  role="link"
  class={`inline-flex items-center justify-center gap-2 px-4 py-1 
  text-gray-800 dark:text-white
  transition duration-300
  bg-gray-100 dark:bg-gray-800
  border border-gray-300 dark:border-gray-600
  rounded-full
  
  hover:bg-gray-900 dark:hover:bg-gray-100
  hover:border-gray-700 dark:hover:border-gray-300
  hover:text-white dark:hover:text-black
  
 
  focus:outline-none focus-visible:outline-none
  focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2
  
  active:bg-black dark:active:bg-white
  
  text-md group max-w-fit
  ${className ?? ""}`}
>
  <slot />
</a>

<style>
  a {
    transition-property: background-color, border-color, color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }

  a :global(svg) {
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }
</style>